@charset "utf-8";
/*********************************************
	Code by Cameron Cabo, all rights reserved

	STYLESHEET
*********************************************/

/******************************
    GENERAL STYLING
******************************/
.html {
  max-width: 100% !important;
  width: 100vw !important;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  margin: 0 !important;
}

.body {
	padding: 0;
	margin: 0;
  overflow-x: hidden !important;
  font-family: 'Roboto', sans-serif !important;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6, a, p {
  font-family: 'Roboto', sans-serif !important;
}

p, h6, h5, h4 {
  line-height: 1.5;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

div.row {
  width: 100%;
  margin: 0 !important;
}

.section {
	position: relative;
	width: 100%;
	height: auto;
	margin: 0;
}

.white {
	background: white;
}

.clipper {
  width: 50vw !important;
  overflow-x: hidden;
  overflow-y: hidden;
}

.section h1 {
  color: #0048ab;
  text-shadow: 1px 2px 0px rgba(0, 0, 0, .2);
}

.section h4 {
  font-weight: normal;
  line-height: 1.5;
}

.space {
  height: 2.5vh;
  width: 100%;
  display: block;
}

.shade {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, .25);
}

a {
  color: #0048ab;
}

/******************************
    NAVIGATION
******************************/
nav li a {
	transition: all 0.5s ease !important;
	border-bottom: 3px solid transparent;
}

.navbar {
  background: white;
}

.navbar, .navbar-collapse {
  overflow: hidden !important;
}

.navbar-header img {
	height: 48px;
	padding-right: 18px;
	width: auto;
	float: left;
}

.navbar-fixed-top {
	border: 0px solid transparent;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, .1);
}

.active a {
	background: inherit !important;
	color: black !important;
}

nav a {
  font-weight: bold;
}

.divider {
  width: 1px;
  background: #D8D8D8;
}

.bord-left {
  border-left: 1px solid #D8D8D8;
}

button.navbar-toggle {
  border: none;
}

.navbar-toggle:hover, .navbar-toggle:focus {
  background-color: white !important;
}

.navbar-toggle {
  border: none;
  background: transparent !important;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.2s;
}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}

/******************************
    SECTION GENERAL
******************************/
.section img {
  width: 100%;
}

.top-pad {
  padding-top: 5vh;
}

.top-padded {
  padding-top: 10vh;
}

.t-pad {
  padding-top: 2.5vh;
}

.bottom-pad {
  padding-bottom: 5vh;
}

.bottom-pad-extra {
  padding-bottom: 10vh;
}

.bot-pad {
  padding-bottom: 2.5vh;
}

.line-above {
  border-top: 8px solid #0048ab;
}

.gradient {
  background: whitesmoke; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, white, whitesmoke); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, white, whitesmoke); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, white, whitesmoke); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, white, whitesmoke); /* Standard syntax */
}

/******************************
    HOME
******************************/
.section#home {
	background-color: transparent;
  overflow-x: hidden !important;
}

#home img {
	height: 100%;
  overflow: hidden;
	position: fixed;
	z-index: -2;
}

.blue {
  position: absolute;
  overflow-x: hidden;
  z-index: -1;
  background: #0048ab;
  opacity: .7;
  background-size: cover;
  height: 125%;
  width: 125%;
  top: 1.5in;
  left: -2in;
  -ms-transform: rotate(15deg); /* IE 9 */
  -webkit-transform: rotate(15deg); /* Safari */
  transform: rotate(15deg);
}

.text.home {
	color: white;
	padding-top: 40vh;
	margin: 0px 25% 0px 10%;
  transition: all 0.5s ease;
}

.text.home h1 {
	font-size: 500%;
	font-style: italic;
}

.text.home h3 {
	font-size: 400%;
	padding-left: 36px;
	border-left: 8px solid white;
}

#home {
	height: 100vh;
	overflow: hidden;
}


#welcome {
  border: 1px solid whitesmoke;
  padding: 5%;
  padding-top: 2.5%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, .25);
  border-radius: 2px;
  transition: all 0.25s ease;
  background: white;
}

.up {
  top: -1in;
}

#about {
}

#about-img {
  overflow: hidden;
  background-image: url(../img/machine.jpg);
}

#quality-img {
  overflow: hidden;
  background-image: url(../img/yarn.jpg);
}

#products {
}

#contact {
  border-top: 1px solid whitesmoke;
  margin-bottom: .5in;
}

#quality {
}

.quality {
  z-index: 4;
  background: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, .25);
  top: -20vh;
  border-radius: 2px;
}

.map-wrapper {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, .25);
  border-radius: 2px;
  padding: 0px;
  display: block;
  height: 70vh;
}

iframe {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: block;
}

textarea.form-control, input.form-control {
  border-radius: 0;
  border: 0px solid transparent;
  border-bottom: 1px solid #D8D8D8;
  box-shadow: 0px 0px transparent;
  padding-top: 18px;
  padding-bottom: 18px;
  margin: 4px 0px;
  transition: all 0.125s ease !important;
}

textarea.form-control {
  resize: none;
  overflow: hidden;
  min-height: 80px;
  max-height: 50vh;
}

textarea.form-control:focus, input.form-control:focus {
  border-radius: 0;
  border: 0px solid transparent;
  border-bottom: 1px solid black;
  box-shadow: none;
}

/******************************
    FOOTER
******************************/
footer {
	border-top: 1px solid whitesmoke;
	padding: 18px;
	text-align: center;
	background: white !important;
}

footer h5 {
  font-weight: 300;
}
