/*font styling*/

.special {
  font-family: 'Palanquin Dark', 'Roboto', sans-serif;
}

.sans {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}


/*general*/

.empty-space {
  display: block;
  width: 100%;
  height: 0px;
}

button {
  cursor: pointer;
  cursor: hand;
  outline: 0 !important;
}

.space {
  height: 5vh;
  width: 100%;
  display: block;
}

.half-space {
  height: 2.5vh;
  width: 100%;
  display: block;
}

.bigger {
  font-size: 110%;
}

.col-lg-6.pad {
  padding: 0 5%;
}

.no-pad {
  padding: 0 !important;
  margin: 0 !important;
}

.white {
  background: white;
  padding: 1.5rem;
  display: inline-block;
}

.white-text {
  color: white;
}

.inline {
  display: inline-block;
}

.right {
  text-align: right;
  float: right;
}

ul.white {
  padding-left: 2.25rem;
}

.container.pad-25 {
  padding: 2.5%;
}

.half {
  position: absolute;
  bottom: 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  cursor: hand;
}

.half:hover {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
  s
}

.half-text {
  color: white;
  margin: 0;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  right: 3rem;
  font-size: 110%;
  background: rgb(0, 72, 171);
  transform: translateY(0.25rem);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.half-text:hover {
  background: rgb(13, 93, 195);
}

p, li {
  color: black;
}

p a {
  color: black;
  border-bottom: 1px solid black;
  text-decoration: none !important;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

p a:active, p a:focus, p a:visited, p a:link, p a:hover {
  color: black;
}

p.white-text a, p.white-text a:active, p.white-text a:focus, p.white-text a:visited, p.white-text a:link, p.white-text a:hover {
  color: white;
}

p.white-text a {
  border-bottom: 1px solid white;
}

p.white-text a:hover {
  border-bottom: 2px solid white;
}

p a:hover {
  border-bottom: 2px solid black;
}


/*hero*/

.hero {
  background-image: url('../img/space.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hero .container {
  margin-top: 15vh;
}

.hero h1 {
  background: white;
  display: inline-block;
  padding: 1.5rem;
}

@media only screen and (max-device-width: 1024px) {
  .hero {
    background-attachment: scroll;
  }
}

.gradient {
  background: #0048ab;
  background: -webkit-linear-gradient(left top, rgba(0, 191, 255, 0.6), rgba(0, 72, 171, 0.6));
  background: -o-linear-gradient(bottom right, rgba(0, 191, 255, 0.6), rgba(0, 72, 171, 0.6));
  background: -moz-linear-gradient(bottom right, rgba(0, 191, 255, 0.6), rgba(0, 72, 171, 0.6));
  background: linear-gradient(to bottom right, rgba(0, 191, 255, 0.6), rgba(0, 72, 171, 0.6));
}

.gradient .container {
  padding-bottom: 2.5%;
}

.circle, a.circle {
  left: 50%;
  background: white;
  display: table;
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  bottom: 0;
  transform: translateY(50%);
  transition: all 0.2s ease;
  cursor: pointer;
  cursor: hand;
  z-index: 2;
  height: 4rem;
  width: 4rem;
  color: black !important;
  text-decoration: none !important;
}

a.circle i {
  text-decoration: none !important;
}

.circle:hover, a.circle:hover, a.circle:focus, a.circle:visited, a.circle:link, a.circle:-webkit-any-link {
  text-decoration: none !important;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
}

.circle .fa {
  display: table-cell;
  vertical-align: middle;
}

.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media only screen and (max-device-width: 1024px) {
  .bg {
    background-attachment: scroll;
  }
}

#building {
  background-image: url('../img/building.jpg');
  left: 0;
}

#yarn {
  background-image: url('../img/yarn.jpg');
}

#belt {
  background-image: url('../img/belt.jpg');
}

.about, .products {
  display: block;
  position: relative;
  width: 100%;
}

/*form*/

input.form-control, textarea.form-control {
  border-radius: 0;
  border: 0px solid transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  background: transparent;
}

input.form-control:focus, textarea.form-control:focus {
  border-bottom: 1px solid black;
}

label {
  cursor: text;
  font-family: 'Palanquin Dark', 'Roboto', sans-serif;
  transform: translateY(-30px);
  z-index: -1;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  display: inline-block;
  color: #777;
  padding-left: 0.5rem;
}

label.hasVal {
  transform: scale(0.9) translateY(-68px);
  padding-left: 0rem;
  color: black;
}

label#messageLabel {
  position: absolute;
  transform: translateY(6px);
  z-index: -1;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  display: inline-block;
  color: #777;
  padding-left: 0.5rem;
}

label#messageLabel.hasVal {
  transform: scale(0.9) translateY(-32px);
  padding-left: 0rem;
  color: black;
}

#submit {
  background: transparent;
  border: 2px solid black;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#submit:hover {
  background: black;
  color: white;
}

#inputMessage {
  overflow: hidden;
}

iframe {
  width: 100%;
  height: 80vh;
}

.imgs-wrapper {
  display: flex;
  width: 100%;
  overflow: hidden !important;
}

@media screen and (max-width: 896px) {
  .imgs-wrapper {
    display: block;
  }
}

.imgs-wrapper div {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(0.5);
  height: 40vh;
  flex: 1;
  border: 0px solid transparent;
}

.product-bg {
  height: 100%;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  filter: brightness(0.8);
}

.product-bg:nth-child(2) {
  right: 0;
}

.products {
  background: black;
  z-index: -1;
}

.products,
.products p,
.products ul li {
  color: white;
}
